<html ng-app="crumbapp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="external/fonts.css" type="text/css"/>
    <link rel="stylesheet" href="external/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="app.css" type="text/css"/>
</head>

<body class="ng-cloak">

<div class="ctrlcontainer container-fluid">

    <div ng-controller="crumbctrl as ctrl">

        <div ng-repeat="c in ctrl.partCollections" ng-if="ctrl.settings.optionBreadcrumbHorizontal">
            <ul class="list-inline">
                <li ng-repeat="p in c.uriParts | shouldHideCrumb">
                <span class="label">
                <a href ng-click="ctrl.navigate(c, p)" ng-clickonenter ng-onmiddletclick middle-action="ctrl.navigate(c, p, true)">{{p.display}}</a>
                </span>
                </li>
            </ul>
        </div>

        <div ng-repeat="c in ctrl.partCollections" ng-if="ctrl.settings.optionBreadcrumbVertical">
            <ul class="list-unstyled">
                <li ng-repeat="p in c.uriParts | shouldHideCrumb">
                <span ng-switch="p.partType">
                    <a href ng-switch-when="UriPartSubdomain" ng-click="ctrl.navigate(c, p)" ng-clickonenter ng-onmiddletclick middle-action="ctrl.navigate(c, p, true)">
                    <span class="label label-warning">
                        {{p.display}}
                    </span></a>
                    <a href ng-switch-when="UriPartHost" ng-click="ctrl.navigate(c, p)" ng-clickonenter ng-onmiddletclick middle-action="ctrl.navigate(c, p, true)">
                    <span class="label label-primary">
                        {{p.display}}
                    </span></a>
                    <a href ng-switch-when="UriParthPath" ng-click="ctrl.navigate(c, p)" ng-clickonenter ng-onmiddletclick middle-action="ctrl.navigate(c, p, true)">
                    <span class="label label-success">
                        {{p.display}}
                    </span></a>
                    <a href ng-switch-when="UriPartSearch" ng-click="ctrl.navigate(c, p)" ng-clickonenter ng-onmiddletclick middle-action="ctrl.navigate(c, p, true)">
                    <span class="label label-info">
                        {{p.display}}
                    </span></a>
                    <a href ng-switch-default ng-click="ctrl.navigate(c, p)" ng-clickonenter ng-onmiddletclick middle-action="ctrl.navigate(c, p, true)">
                    <span class="label label-default">
                        {{p.display}}
                    </span></a>
                </span>
                </li>
            </ul>
        </div>

    </div>

</div>

<script src="external/angular.min.js" type="text/javascript"></script>
<script src="external/psl.min.js" type="text/javascript"></script>
<script src="contracts.js" type="text/javascript"></script>
<script src="settings.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>

</body>

</html>